.main-nav {
    padding: 0px;
    border: 2px solid black;
}
.nav-bar {
    background-color: #4141a3;
    height: 50px;
    padding: 20px;
}
.text {
    color: white !important;
    font-size: 17px;
}
.active-route {
    border-bottom: 2px solid rgb(255, 255, 255);    
    font-weight: 500;  
}
.line-space {
    color: white;
    margin-top: 6px;
    font-size: 18px;
}